// primary:
$cyan: #30cecf;
$dark-violet: #3e2d53;
// secondary:
$red: hsl(0, 87%, 67%);
// neutral:
$gray: #f0f1f6;
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: #232027;
